html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    font-family: 'Salsa', cursive;
    line-height: 1;
    @media (min-width: 480px) {
        background-color: #000000;
    }
    &.overHidd {
        overflow: hidden;
    }
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
p {
    font-size: 2rem;
    margin: 0;
}
.contenedor {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 1.5rem 0;
}

a {
    text-decoration: none;
}

img,
picture {
    width: 100%;
    display: block;
}

.appFlare {
    position: relative;
    @media (min-width: 480px) {
        display: none;
    }
}